Repository nesterapp/rasa-admin: changes, and which Drone steps are due for each by the changed paths.
All: api, frontend

Path conditions:
  api: any of: .drone.yml, api/**
  frontend: any of: .drone.yml, frontend/**

Update frontend
  .gitignore
  README.md
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/ChatDetails.js
  frontend/src/ChatDetailsHeader.js
Due: frontend

Sort chats by minimum timestamp
  api/src/main.py
  api/src/utils.py
Due: api

Add Docker support, update README.
  README.md
  api/.env.sample
  api/.env_sample
  api/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/justfile
  frontend/src/App.js
  frontend/src/config.js
Due: api, frontend

minor Dockerfile update
  api/src/main.py
  frontend/Dockerfile
Due: api, frontend

custom settings for anton server
  api/src/main.py
  docker-compose.yml
  frontend/src/config.js
Due: api, frontend
